.leaflet-container{
  width: 100vh;
  height: 100vh;
}
.side-by-side {
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
}

#b-bar{
  position: absolute;
  bottom: 1px;
  left: 10px;
  padding: 10px;
  z-index: 500;
}

#f-bar{
  position: absolute;
  /* top: 1px;
  left: 1px; */
  padding: 10px;
  z-index: 500;
}


#main-modal{
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 10px;
  z-index: 500;
}

#login_button{
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 10px;
  z-index: 500;
}

#logout_button{
  position: absolute;
  top: 90px;
  right: 20px;
  padding: 10px;
  z-index: 500;
}

#filter_button{
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding: 10px;
  z-index: 500;
}

#filter_search{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 500;
}

#modal_login_button{
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  z-index: 500;
}

#title{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}
.above-map{
  z-index: 10000;
}

